src/META-INF/wsdl/localhost_8080/Service/Service.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://package2/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://package2/" name="Service">
<types>
<xsd:schema>
<xsd:import namespace="http://package2/" schemaLocation="http://localhost:8080/Service/Service?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="division">
<part name="parameters" element="tns:division"/>
</message>
<message name="divisionResponse">
<part name="parameters" element="tns:divisionResponse"/>
</message>
<message name="substraction">
<part name="parameters" element="tns:substraction"/>
</message>
<message name="substractionResponse">
<part name="parameters" element="tns:substractionResponse"/>
</message>
<message name="multiplication">
<part name="parameters" element="tns:multiplication"/>
</message>
<message name="multiplicationResponse">
<part name="parameters" element="tns:multiplicationResponse"/>
</message>
<message name="suma">
<part name="parameters" element="tns:suma"/>
</message>
<message name="sumaResponse">
<part name="parameters" element="tns:sumaResponse"/>
</message>
<portType name="Service">
<operation name="hello">
<input wsam:Action="http://package2/Service/helloRequest" message="tns:hello"/>
<output wsam:Action="http://package2/Service/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="division">
<input wsam:Action="http://package2/Service/divisionRequest" message="tns:division"/>
<output wsam:Action="http://package2/Service/divisionResponse" message="tns:divisionResponse"/>
</operation>
<operation name="substraction">
<input wsam:Action="http://package2/Service/substractionRequest" message="tns:substraction"/>
<output wsam:Action="http://package2/Service/substractionResponse" message="tns:substractionResponse"/>
</operation>
<operation name="multiplication">
<input wsam:Action="http://package2/Service/multiplicationRequest" message="tns:multiplication"/>
<output wsam:Action="http://package2/Service/multiplicationResponse" message="tns:multiplicationResponse"/>
</operation>
<operation name="suma">
<input wsam:Action="http://package2/Service/sumaRequest" message="tns:suma"/>
<output wsam:Action="http://package2/Service/sumaResponse" message="tns:sumaResponse"/>
</operation>
</portType>
<binding name="ServicePortBinding" type="tns:Service">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="division">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="substraction">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="multiplication">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="suma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Service">
<port name="ServicePort" binding="tns:ServicePortBinding">
<soap:address location="http://localhost:8080/Service/Service"/>
</port>
</service>
</definitions>